.dropdown-list__element_parent{
    padding-right: 74px;
    &:after {
        @extend %material-icons;
        content: 'arrow_drop_down';
        position: absolute;
        right: 20px;
        transform: rotate(-90deg) translateX(50%);
        top: 50%;
        z-index: -1;
        color: $iconColorDefault;
    }
}
