.input-result__label {
  font-size: $baseFontSize;
  color: $baseColor;
  display: block;
  z-index: 2;
  user-select: none;
  position: absolute;
  top: 11px;
  line-height: $baseLineHeight;
  left: 20px;
  transform-origin: left top 0px;
  transform: scale(.85);
}
