.redirect-box__icons {
    padding: 40px 0;
    text-align: center;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 91%);
    }
    img {
        vertical-align: top;
    }
}
