.input-row__description {
    font-size: $smallFontSize;
    animation-name: fadeIn;
    animation-delay: .6s;
    @extend %global-effect;
    @extend %global-effect_position_top_left;
    color: $grayLabel;
    flex-shrink: 1;
    flex-grow: 1;
}