.input-search_color_white {
    background: #FFFFFF;
    &:before {
        color: $iconColorDefault;
    }
    input {
        height: 24px;
        font-family: $baseFont;
        background: none;
        border: none;
        font-size: 16px;
        color: $baseColor;
        width: 100%;
        @include placeholder {
            color: change-color($baseColor, $alpha: .7);
        }
    }
    .global-icon {
        color: $iconColorDefault;
    }
}
