.content-toolbar {
    padding: 0 10px;
    height: 60px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 100%;
    a {
        font-weight: 500;
    }
}

.content-toolbar-group {
    padding: 10px 0;
}

.content-toolbar_shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

//import elements
@import "__element/content-toolbar__element";
@import "__row/content-toolbar__row";
@import "__title/content-toolbar__title";
@import "__description/content-toolbar__description";
@import "__list/content-toolbar__list";
//import mods
@import "_border/content-toolbar_border";
@import "_pad/_content-toolbar_pad.scss";
@import "_position/content-toolbar_position";
@import "_color/content-toolbar_color";
@import "_height/content-toolbar_height";
@import "_vertical/content-toolbar_vertical";
@import "_highlight/content-toolbar_highlight";