.input-checkbox {
    position: relative;
    z-index: 1;
    @include flex(inline-flex, row, nowrap, flex-start, flex-start, flex-start);
    flex-shrink: 0;
    vertical-align: top;
}

@import "__icon/input-checkbox__icon";
@import "__input/input-checkbox__input";
@import "__label/input-checkbox__label";
@import "_status/input-checkbox_status";
@import "input-checkbox_check-all";
