.entity-tag__element {
    font-size: $smallFontSize;
    line-height: $smallLineHeight;
    padding: 3px 8px 2px 8px;
    &:first-child {
        border-top-left-radius: $baseBorderRadius;
        border-bottom-left-radius: $baseBorderRadius;
    }
    &:last-child {
        border-top-right-radius: $baseBorderRadius;
        border-bottom-right-radius: $baseBorderRadius;
    }
}

.entity-tag__element~.entity-tag__element {
    margin-left: 1px;
}