<h3>India</h3>
<table>
    <tr>
        <td>TB Revenue</td>
        <td>5,456.77</td>
    </tr>
    <tr>
        <td>TB Wallet</td>
        <td>7,569.95</td>
    </tr>
    <tr>
        <td>Penetration (%)</td>
        <td>20%</td>
    </tr>
</table>
{{#wb-md-content-toolbar pad="null"}}
    <div class="content-toolbar__row">
        <div class="content-toolbar__element">
            {{wb-md-icon color="deep-orange-500" iconName="info" size="medium"}}
        </div>
        <div class="content-toolbar__element">
            <div class="ap-map-tooltip__text_orange">
                Update Required
            </div>
        </div>
    </div>
    <div class="content-toolbar__row">
        <div class="content-toolbar__element">
            <div class="content-toolbar__description">
                <a href="">EDIT</a>
            </div>
        </div>
    </div>
{{/wb-md-content-toolbar}}