{{#wb-md-table config=editableNumericTableConfig remoteSearchAction=(action 'getNewCountries')}}
    <tr class="global-table__row_type_total">
        <td class="global-table__cell global-table__cell_type_data">
            Total
        </td>
        <td class="global-table__cell global-table__cell_type_data" colspan="3">
            {{totalMargin}}
        </td>
        <td class="global-table__cell global-table__cell_type_data"></td>
    </tr>
{{/wb-md-table}}