.card-question__title {
    line-height: 1.5;
    padding: 22px 20px 0 20px;
    @include flex(flex, row, nowrap, flex-start, flex-start, flex-start);
    span {
        margin-right: 4px;
        flex-shrink: 0;
    }
    h3 {
        font-weight: 500;
        font-size: $baseFontSize;
        color: $baseColor;
    }
}
