.global-tabs_color_light {
    background: $indigo_500;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    &:before {
        display: none;
    }
    .global-tabs__slide-line {
        background: $white;
    }
    .global-tabs__label {
        color: change-color($white, $alpha: .5);
    }
    .global-tabs__value {
        color: change-color($white, $alpha: .5);
    }
    .global-tabs__element_status_active {
        .global-tabs__label {
            color: $white;
        }
    }
}