{{#if label}}
    <div class="global-tag__value {{circleStatusColor}}">{{label}}</div>
{{else}}
    <div class="global-tag__icon">{{wb-md-icon size="small" iconName=iconName color=iconColor ripple=false}}</div>
{{/if}}
