.dropdown-multi__user-icon_color_client {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: $white;
    text-transform: uppercase;
    background: $indigo_100;
}
