.global-icon_color_linkedin {
    color: $blue_500;
}
.global-icon_color_facebook {
    color: $blue_fb;
}
.global-icon_color_twitter {
    color: $blue_twitter;
}
.global-icon_color_reuters {
    color: $orange_reuters;
}
.global-icon_color_bloomberg {
    color: $indigo_bloomberg;
}
.global-icon_color_personalweb {
    color: $bluegray_500
}
