.input-result__content {
    line-height: 22px;
    font-size: $baseFontSize;
    font-family: $baseFont;
    padding: 1px 0;
    vertical-align: top;
    color: $baseColor;
    word-break: break-word;
}