.global-menu__modal {
    position: absolute;
    background: $white;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 20px 0 rgba(0,0,0,0.16);
    border-radius: $baseBorderRadius;
    user-select: none;
    z-index: -2;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.global-menu__modal .global-menu__modal_show {
    position: absolute;
    left: calc(100% - 7px);
    z-index: 1;
    animation-name: fadeIn;
    max-height: 250px;
    overflow-y: auto;
    top: -14px;

}

@import "global-menu__modal_position_bottom-right";
@import "global-menu__modal_position_bottom-left";
@import "global-menu__modal_position_top-right";
@import "global-menu__modal_position_top-left";
@import "global-menu__modal_sub-position_left";
@import "global-menu__modal_show";
