.input-switch {
    position: relative;
    z-index: 1;
    @include flex(flex, row, nowrap, flex-start, flex-start, flex-start);
    flex-shrink: 0;
}

.input-switch_padding_input {
    height: 90px;
    padding: 28px 20px 0 20px;
}

@import "__icon/input-checkbox__icon";
@import "__input/input-checkbox__input";
@import "__label/input-checkbox__label";
@import "_status/input-switch_status";