.card-attachment-list__control {
  width: 36px;
  height: 36px;
  background: $white;
  box-shadow: $controlShadow;
  position: absolute;
  top: 12px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 0.2s $baseTransition;
  transform: scale(0);
  &:before {
    @extend  %material-icons;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
@import "card-attachment-list__control_next";
@import "card-attachment-list__control_prev";
@import "card-attachment-list__control_disabled";
