.workbench-notifications__trigger {
  width: 24px;
  height: 24px;
  background-color: $white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  &:before {
    @extend %material-icons;
    content: 'notifications';
    color: $bluegray_800;
    vertical-align: top;
    font-size: 18px;
    transform: translateY(3px);
  }
}
