<div class="global-banner" style="background: url('/assets/images/deal_pipeline_bg_1280.jpg')">
    <h1 class="global-banner__title">Deal Pipeline</h1>
    <div class="global-banner__help-link">
        {{wb-md-button color="transparent-white" label="HELP CENTER"}}
    </div>
    <div class="global-banner__icon"><img src="/assets/images/deal_pipeline_icon.png"></div>
</div>